html,body{margin: 0; padding: 0;}
body{
    background-color: rgb(31, 31, 31);
    color: white;
    height: auto;
    width: auto;
}
main{
    min-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    width: 70vh;
    background-image: url('../img/background2.jpg');
    border-right: .1rem solid white;
    border-left: .1rem solid white;
}
nav{
    position:relative;
    top: 0;
    text-align: center;
    background-image: url('../img/hello_chickens.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 2rem;
}
nav > ul a{
    display: inline-block;
    text-decoration: none;
    color: silver;
    font-weight: bolder;
    background-color: black;
    padding: .5rem;
    border-radius: 1rem;
}
nav > ul a:hover{
    color: red;
    background-color: yellow;
}
nav > ul > li{
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 5rem;
}
nav > ul > li::before{
    padding-left: 5rem;
    margin-left: 5rem;
}
div#winners2024{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
}
div#winners2024 div img{
    border: .1rem solid white;
    margin: 0;
    border-radius: 4px;
    width: 100px; 
}
div#winners2024 > div p {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    margin-left: .3rem;
}
fieldset{
    margin-left: 10rem;
    margin-right: 10rem;
}
footer{
    background-image: url('../img/background-content.jpg');
    background-size: contain;
    border-top: .1rem solid white ;
    height: 7rem;
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
}